@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'sora';
}

body {
    background: linear-gradient(to bottom, #00A884 50%, #111B21 0%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-animated {
    width: 120px;
}


.whatsapp-icon {
    width: 80px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: auto;
    width: 600px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 4%;
    gap: 10px;

}

.hero-section p , h1 {
    text-align: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    width: 70%;
    gap: 8px;
}

.form-box label {
    font-size: 14px;
}

.form-box input{
    width: 100%;
    background-color: #EFEFEF;
    padding: 15px;
    border: solid 1px #6C6C6C;
    border-radius: 8px;
}

.form-number {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ddi-box {
    width: 20%;
}

.number-box {
    width: 80%;
}
.message-box {
    width: 100%;
}

.form-button {
    width: 100%;
    padding: 18px;
    background-color: #22D16B;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.form-button:hover {
    background-color: #229e56;
    color: #fff;
}

.link-box {
    margin-top: 15px;
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EFEFEF;
    color: #6C6C6C;
    border-radius: 8px;
    border: solid 1px #6C6C6C;
}

#copyboard-btn {
    padding: 12px;
    background-color: #dfdfdf;
    border-right: solid 1px #6C6C6C;
    border-radius: 8px;
}

#copyboard-btn img{
    width: 20px;
}